<table style="width:100%">
  <tr>
    <td><img src="https://unioviedo-my.sharepoint.com/:i:/g/personal/sgcortes_uniovi_es/Ebr0ybKDTBNKtoJyzmTBuRYBXY7nE-cCYaH-WDIVJxEVWA?&download=1" width="211" height="69" alt="Uniovi & EP Mieres logos" title="Uniovi & EP Mieres logos" /></td>
    <td><font color=brown>ML&DL Naples 2023<br></font>
    <font color=green>Universidad de Oviedo. <br>Ingeniería en Geomática</font> <br><br>sgcortes@uniovi.es</td>
  </tr>
</table>

Python  [Python](https://www.python.org/)  is a popular programming language and there are a lot of courses, examples tutorials on line for you to learn. I will recommend to follow some of them here: [w3schools](https://www.w3schools.com/python/default.asp)
You can find yourself many others. 

In the following cells you will see some simple basic examples.

# Tuples
A tuple represents a sequence of any objects separated by commas and enclosed in parentheses. A tuple is an immutable object, which means it cannot be changed, and we use it to represent fixed collections of items.

Let's take a look at some examples of Python tuples:

+ () — an empty tuple
+ (1.0, 9.9, 10) — a tuple containing three numeric objects
+ ('Casey', 'Darin', 'Bella', 'Mehdi') — a tuple containing four string objects
+ ('10', 101, True) — a tuple containing a string, an integer, and a Boolean object

In [111]:
a_tuple = (0, [1, 2, 3], (4, 5, 6), 7.0)
b = (3,5)

In [112]:
print(type(b))

<class 'tuple'>

## Indexing and sliceing a tuple

In [113]:
print('The first element:', a_tuple[0])
print('The last element:', b[-1])
print('The data type of the second element:', type(a_tuple[1]))

The first element: 0
The last element: 5
The data type of the second element: <class 'list'>

Slicing a tuple is as simple as slicing a Python string or a list with the same rules.

In [115]:
num_tuple = 2, 4, 5, 7, 8, 10
print(num_tuple[:3]) # end index object will not be included in slice but first index will be
print(num_tuple[4:])
print(num_tuple[-3:])
print(num_tuple[2:5])

(2, 4, 5)
(8, 10)
(7, 8, 10)
(5, 7, 8)

# Lists
Lists are python object used to store objects in indexed variables (each object inside a list can be referred through an index). It is created using brackets (ant the beggining and at the end) and using comma as an element (object) separator.

In [80]:
palabras=["Hola", "mundo", 4.56]

In [81]:
print (palabras)
print(3+palabras[2])

['Hola', 'mundo', 4.56]
7.56

Indexes start at "0" and furthermore, as can be seen, it is not necessary that the objects stored in a list are of the same type. A list can even contain other lists.

In [82]:
varios=["Hola", [1,2,3], 5]
print('Una cadena: ', varios[0])
print('Un escalar: ', varios[2])
print('Una lista: ', varios[1])
print('Un escalar de la lista contenida:', varios[1][2])

Una cadena:  Hola
Un escalar:  5
Una lista:  [1, 2, 3]
Un escalar de la lista contenida: 3

Strings are indexed as lists:

In [83]:
str='Hola mundo'
print(str[6])

u

## Operations with lists
Elements of lists can be reassigned and lists can be summed, multiplied like strings:

In [84]:
nums=[1,2,3]
print(nums+nums) # suma de listas
print(nums*3) # producto de listas

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

You can also check whether an item is (or is not) in the list with the in and not operator:

In [85]:
print(3 in nums)
print(3 not in nums)

True
False

### List functions:
- **append()**: Adds an element _at the end_ of a list
- **len()**: Returns the length of the list
- **insert()**: Inserts an element at any position in the list
- **index()**: returns the index of the first occurrence of an element in a list

In [86]:
nums=[1,2,3]
nums.append(4)
print(nums)
print(len(nums))

nums.insert(2,9)
print(nums)


print(palabras)
print(palabras.index('Hola'))

[1, 2, 3, 4]
4
[1, 2, 9, 3, 4]
['Hola', 'mundo', 4.56]
0

- **max()**: Returns the value of the maximum of a list.
- **min()**: Returns the value of the minimum of a list
- **remove()**: removes an object from a list
- **reverse()**: reverses the order of the elements in a list

In [87]:
print(max(nums))
print(min(nums))
nums.remove(nums[1])
print(nums)

9
1
[1, 9, 3, 4]

In [88]:
nums.remove(1)
print(nums)

[9, 3, 4]

In [97]:
nums.reverse()
print(nums)

[4, 3, 9]

### Creating lists with _range_ and _list_
[_range_Built function](https://docs.python.org/3/library/stdtypes.html?highlight=range#range)

_range(start, stop[, step])_

In [99]:
numeros=list(range(10))
print(numeros)
numeros2=list(range(3,10))
print(numeros2)


list(range(0, 10, 3))

list(range(0, -10, -1))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[3, 4, 5, 6, 7, 8, 9]

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

# Making loops
We have two lists, one with student names and other with test marks for them. Student names and califcations are in the same order.

Make a loop to print one string making the names and marks to correspond.

Lists, strings and tuples are iterable objects in Python which means that "Python object capable of returning its members one at a time, permitting it to be iterated over in a for-loop". Let´s see how we can iterate and object with loops.

In [89]:
alumnos = ["Eva", "Moisés", "Pablo","Sergio","Daniel","Angel", "Ana"]
calificaciones=[True, True, True, False,False,False,False]

In [90]:
for i, val in enumerate(calificaciones):
    print('i: ',i, 'val: ', val)

i:  0 val:  True
i:  1 val:  True
i:  2 val:  True
i:  3 val:  False
i:  4 val:  False
i:  5 val:  False
i:  6 val:  False

In [91]:
for i, val in enumerate(calificaciones):
    print('The student number: ',i, 'got ',val, ' in the test.')

The student number:  0 got  True  in the test.
The student number:  1 got  True  in the test.
The student number:  2 got  True  in the test.
The student number:  3 got  False  in the test.
The student number:  4 got  False  in the test.
The student number:  5 got  False  in the test.
The student number:  6 got  False  in the test.

In [92]:
for i, val in enumerate(calificaciones):
    if val:
        print(alumnos[i], 'got PASSED in the test')
    else:
        print(alumnos[i], 'got FAIL in the test')

Eva got PASSED in the test
Moisés got PASSED in the test
Pablo got PASSED in the test
Sergio got FAIL in the test
Daniel got FAIL in the test
Angel got FAIL in the test
Ana got FAIL in the test

zip fuction allow us to set the lists in paralell and to get items from the different lists simultaneously.

In [93]:
for nombre, nota in zip(alumnos, calificaciones):
    if nota:
         print(nombre, 'got PASSED in the test.')
    else:
        print(nombre, 'ha obtenido un SUSPENSO en el examen.')

Eva got PASSED in the test.
Moisés got PASSED in the test.
Pablo got PASSED in the test.
Sergio ha obtenido un SUSPENSO en el examen.
Daniel ha obtenido un SUSPENSO en el examen.
Angel ha obtenido un SUSPENSO en el examen.
Ana ha obtenido un SUSPENSO en el examen.

In [94]:
print(len(alumnos))

7

In [95]:
for i in range(len(alumnos)):
    if calificaciones[i]== True:
        print(alumnos[i] + ' PASSED the test')
    else:
        print(alumnos[i] + ' FAILED the test')

Eva PASSED the test
Moisés PASSED the test
Pablo PASSED the test
Sergio FAILED the test
Daniel FAILED the test
Angel FAILED the test
Ana FAILED the test

## While Loop
When you don´t know a priori the number of iterations needed

In [96]:
# ODD numbers
i=0
while i<=9:
    print(2*i+1)
    i=i+1

1
3
5
7
9
11
13
15
17
19

# Functions
In order to be able to repeatedly apply the same commands several times without repeating code, it is possible to define our own functions. For this, the reserved word __def__ is used together with the colon and the indentation for the codes belonging to the function. Let's look at an example:

In [100]:
def mifuncion():
    print("Ejecutando")
    print("la función")

In [101]:
mifuncion()

Ejecutando
la función

Logically, function definitions must be made BEFORE the function is called (or invoked). functions usually take arguments: they are variables whose name is referred to in the function code but whose value is assigned during the function call. In the following example, we will create a function to add an exclamation mark to any string we supply.

In [102]:
def exclama(palabra):
    print("¡", palabra,"!")

In [103]:
exclama('My name is Flavio')

¡ My name is Flavio !

In [104]:
exclama("hola")
exclama("adios")

¡ hola !
¡ adios !

The number of arguments can be larger:

In [107]:
def addtwice_x_andthreetimes_y(x,y):
    print(2*x+3*y)

In [108]:
addtwice_x_andthreetimes_y(3,4)
addtwice_x_andthreetimes_y(5,4)

18
22

The above functions are peculiar because they do not "return" anything, they simply print a string. However we can define in the function the values that are returned with the return command. Any includi code after the return will not be executed.

In [109]:
def maximo(x,y):
    if x>=y:
        return x
    else:
        return y

In [110]:
print(maximo(4,7))

7